/* shared stayle */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif;

    font-family: 'Victor Mono', monospace; */

}

.hide {
    display: none;
}

.section-container {
    display: none;
}

/* 
main {
max-width: 80%;
height: 500px;
border: 5px solid red;
margin: auto;
} */

/* nav section start  */

.nav-icon {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.logo-text {
    color: #0B0223;
}

.g {
    color: #FF42A5;
}

.nav-link {
    /* border: 5px solid blue; */
    list-style: none;
    display: flex;

    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: #3C354F;
    padding-right: 20px;
    margin: 50px 0;
    font-size: 18px;
    font-weight: 500;
    font-size: 18px;
}

.nav-link .fa-youtube {
    color: #F61C0D;
    width: 20px;
}

.sbg {
    width: 24px;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* nav bar end  */


/* banner style start  */

.banner-section {
    width: 100%;

}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}


.banner-taitel {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-right: 40px;
}

.game {
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 9%, #8758F1 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-gmae-play {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-btn {
    display: inline-flex;
    padding: 1.50rem 2.50rem;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;
    border-radius: 48px;
    margin-top: 10px;
    border: 0;
}

.pink {
    background-color: #FF42A5;
}

.blue {
    background-color: #4EC5F7;
}

.img {
    max-width: 500px;
    height: 446px;
}

/* Online Games Funny Videos style start hear  */


.funny-videos-container {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.video-game {
    width: 220px;

    margin-right: 10px;
}

.video-game img {
    width: 100%;
}



.taitel-container {
    text-align: center;
    margin-top: 50px;
}

.video-game-taitel {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;

}

.video-game-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.funny {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    ;
    color: transparent;
    -webkit-background-clip: text;
}

.play-video {
    /* border: 1px solid #FF42A5; */
}




/* game-play section start  */

.play-game-contant {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 100px auto;

    justify-content: space-between;
    align-items: center;

}

.play-game-texts {
    width: 40%;
    height: 40%;
}

.play-game-header {
    font-size: 2rem;
    color: #0B0223;
    font-weight: 700;
    width: 300px;
}

.play-game-description {
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.play-online {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    ;
    color: transparent;
    -webkit-background-clip: text;
}

.play-game-img {
    width: 70%;

    position: relative;

}

.play-game-img .img {
    width: 80%;
    height: 100%;

}

.Rectangle-78 {
    width: 30%;
    position: absolute;
    bottom: -15%;
    right: 10%;

}

.play-video {
    position: relative;
}

.video-icon {
    position: absolute;

    color: red;
    font-size: 20px;
    top: 100px;
    right: 100px;

}

.watch {
    position: absolute;

    color: #F948B2;
    font-size: 20px;
    top: 140px;
    right: 60px;
}

.video-icon .fa-brands :hover {
    text-emphasis: victor;

}

.play-video .Rectangle-7:hover {
    color: #534C64;
}









/* game container style start  */

.section-container {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    display: flex;
}

/* .alin {
    margin-left: 30px;
} */

.games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    row-gap: 1.5rem;
}



.game-content {

    margin-right: 1rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.game-content:hover {
    /* border-color: #FF42A5; */
    border: 1px solid #FF42A5;
    border-radius: 5px;
    align-items: center;
    padding: 10px;

    border-radius: 40px;
    color: #F948B2;
}

.game-content-taitel {
    font-size: 16px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.center-aling {
    width: 200px;
    margin-left: 3rem;
}

.game-content img {
    width: 60px;
}

#Rectangle-13 {
    border: 1px solid #FF42A5;
    border-radius: 40px;
    color: #FF42A5;
}

/* nav stayle  */



.nav-container {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    /* margin: auto; */
    /* border: 5px solid black; */
    margin-top: 15px;
}


/* footer style start  */
footer {
    background-color: #0B0223;
    color: #FFF;

    width: 100%;

}

.container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-taitel {
    /* text-align: center; */
    font-size: 45px;
    font-weight: 700;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 70%;
    margin: 30px auto;
    font-size: 18px;
    font-weight: 600;


}

.social-media {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;

}

.social-media li {
    list-style: none;

}

.social-media li>i {
    margin-right: 20px;

}

.Conditions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.wearning {
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}









@media screen and (max-width:576px) {

    .nav-container,
    .nav-link {
        flex-direction: column;

    }

    .nav-container {
        align-items: center;

    }

    .nav-link {
        gap: 20px;
    }

    /* footer section  */
    footer {
        width: 100%;
    }

    .social-media {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        width: 50%;
        margin-right: 70px;
        row-gap: 20px;
        column-gap: auto;

    }

    .about-us {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        font-size: 16px;
        width: 70%;
        row-gap: 20px;
    }

    .Conditions {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .banner-container {
        flex-direction: column-reverse;
        width: 80%;
        display: block;
        margin-top: 35px;
    }

    .img {
        width: 90%;
    }

    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 300px;
        /* margin: auto; */
        gap: 10px;
        align-items: flex-start;
    }

    .game {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;

    }

    .game-content img {
        width: 20px;
    }

    .game-content {
        width: 70px;
    }

    /* online game section  */
    .play-game-contant {

        flex-direction: column;
        width: 100%;
        margin: 0;


    }

    .play-game-header {
        font-size: 40px;
        width: 230px;
    }

    .play-game-description {
        text-align: center;
        width: 230px;
    }

    .play-game-img {
        width: 80%;
        padding: 25px;

        display: flex;
        justify-content: center;
    }

    .play-game-header {
        text-align: center;
    }

    /* play-game container  */






    /* video game  */
    .funny-videos-container {
        grid-template-columns: 1fr;
    }

    .play-game-img .img {

        display: flex;
        justify-content: center;
    }

    .game-content {

        margin-right: 5px;
        /* display: flex;
        align-items: center; */
        padding: 5px;
    }

    .center-aling {
        margin-left: 10px;
        width: 20px;
    }

    .game-content:hover {
        /* border-color: #2d08b3; */
        border: 2px solid #F948B2;
        border-radius: 30px;
        align-items: center;
        padding: 10px;
        pointer-events: none;
        color: #F948B2;
    }

    .video-game-description {
        width: 300px;
    }

    .game-taitel {
        font-size: .5rem;
    }


}


/* responcive for tablate */

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        margin: 10px auto;

        justify-content: center;
    }

    .nav-link {
        flex-direction: column;
    }


}